<div class="post-dashboard-header">
  <h2 class="dashboard-title">Posts</h2>
  <a href="/add-post" class="add-post-button">+ Add New</a>
</div>

<div class="admin-here">
<div class="post-list">
  <% data.forEach(post => { %>
    <div class="post-item">
      <div class="post-main">
        <a href="/post/<%= post._id %>" class="post-title">
          <%= post.title %> &nearr;
        </a>
        <div class="post-controls">
          <a href="/edit-post/<%= post._id %>" class="btn-edit">Edit</a>
          <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST" class="form-delete">
            <input type="submit" value="Delete" class="btn-delete">
          </form>
        </div>
      </div>
    </div>
  <% }) %>
</div>
</div>
