<div class="auther">
    <h1 class="auther__heading"> Hi I am Chukwuma</h1>
    <p class="auther__body">web developer and computer scientist.</p>
    
</div>

<div class="my-img"><img src="/img/chukwuma.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">
</div>

<section class="articles">
    <h2 class="articles__heading"> Latest Post</h2>

    <div class="articles-cards">

        <% data.forEach(post => { %>
         
        <div class="card">
          
            <a href="/post/<%= post._id %>">
                <h2><%= post.title %></h2>
                <p class="article-list_date"><%= post.createdAt.toDateString() %></p>
            </a>
        
        </div>
        <% }) %>
    </div>

    <% if (nextPage !== null) { %>
     <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

    

</section>